# MLflow / DagsHub
MLFLOW_TRACKING_URI=https://dagshub.com/muhammadaaziq179/PhoenixML.mlflow
MLFLOW_TRACKING_USERNAME=muhammadaaziq179
MLFLOW_TRACKING_PASSWORD=<your-dagshub-access-token>

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ

# Kaggle
KAGGLE_USERNAME=muhammadaziqrauf
KAGGLE_KEY=<your-kaggle-api-key>

# GitHub (for repository_dispatch)
DISPATCH_PAT=<github-fine-grained-pat>
GITHUB_REPO=aaziy/PhoenixML
