# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Data (never commit raw data)
data/
*.csv
*.zip

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# ruff cache
.ruff_cache/
